.markdown a[target="_blank"] {
  padding-right: 0.375em;
}

.markdown a[target="_blank"]:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1125em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  background-image: url("/images/icons/external-link.svg");
  background-size: 1em 1em;
}
