.markdown .rlc-container {
  width: 100%;
  max-width: 800px;
  height: 122px;
  margin: 0 auto 2rem;

  color: black;
  text-decoration: none;

  border: 1px solid #eaecef;
  border-radius: 0.25rem;
  display: flex;
  align-items: stretch;

  transition: background 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
}

.markdown .rlc-container:hover {
  background-color: rgba(251, 239, 239, 0.7);
  text-decoration: none;
}

.markdown .rlc-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 0.75rem 1rem;
  flex: 4 1 100px;
  text-align: left;
}

.markdown .rlc-title {
  max-height: 3.05em;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1rem;
  word-break: break-word;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.markdown .rlc-description {
  max-height: 1.55rem;
  font-size: 0.875rem;
  color: #374151;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markdown .rlc-url-container {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markdown .rlc-favicon {
  margin-right: 6px;
  width: 14px;
  height: 14px;
}

.markdown .rlc-url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.markdown .rlc-image-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.markdown .rlc-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
